.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .App-body input {
    margin: 0 .5rem;
}

.App .App-footer {
    border-top: 3px solid red;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}